<h1>Панель пользователя</h1>
<div class="login_page">
    <div class="card-body">
      <a href="/user/update_pass" class="btn btn-primary">Смена пароля</a>
    </div>

    <div class="login_page">
    <div class="card-body">
      <a href="/user/logout" class="btn btn-primary">Выход</a>
    </div>
</div>
