.after_table::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  background: #fff;
  width: 20px;
  height: 100%;
}

.after_table::before {
  content: "";
  position: absolute;
  z-index: 1 !important;
  right: -4px;
  top: 2%;
  background: #D8D8D8;
  width: 2px;
  height: 95%;
  border-radius: 100px;
}

@media (max-width: 1024px) {
  .after_table:nth-child(4):after {
    background: none;
  }

  .after_table:nth-child(4):before {
    background: none;
  }
}

@media (max-width: 768px) {
  .after_table:nth-child(3):after {
    background: transparent;
  }

  .after_table:nth-child(3):before {
    background: transparent;
  }
}

.select_table {
  padding: 5px 0px 10px 0px;
  text-align: center;
  border: none;
  outline: none;
  appearance: none;
  background: url("/images/icons/bottom_arrow.svg") no-repeat bottom center;
  background-size: 30% 30%;
}

.select_table:focus {
  border: 0px solid transparent;
  outline: none;
}

.rotated {
  transform: rotate(180deg);
}
[disable="true"] {
  background: #000;
}

.eng_text_only{
  text-transform: lowercase;
}