.after_table::before {
  content: "";
  position: absolute;
  z-index: 1 !important;
  right: -4px;
  top: 5%;
  background: #B5B5C3;
  width: 2px;
  height: 90%;
  border-radius: 100px;
}

@media (max-width: 1024px) {
  .after_table:nth-child(5):before {
    background: none;
  }
}

@media (max-width: 768px) {
  .after_table:nth-child(4):before {
    background: transparent;
  }
}

.line_table {
  position: relative;
}

.line_table::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #B5B5C3;
  border-radius: 100px;
}

.line_table:last-child::after {
  background: transparent;
}

.select_table {
  padding: 5px 0px 10px 0px;
  text-align: center;
  border: none;
  outline: none;
  appearance: none;
  background: url("/images/icons/bottom_arrow.svg") no-repeat bottom center;
  background-size: 30% 30%;
}

.select_table option {
  color: #000;
}

.select_table:focus {
  border: 0px solid transparent;
  outline: none;
}

.rotated {
  transform: rotate(180deg);
}

[disable="true"] {
  background: #000;
}

.eng_text_only {
  text-transform: lowercase;
}