/* работает) */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Mulish', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #3689ce #e5e7eb;
}

.font_app {
  font-family: "Mulish", sans-serif;
}

.font {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  @apply bg-blub;
}

::-webkit-scrollbar {
  width: 7px;
}


.content_admin {
  width: 90%;
  margin: 0 auto;
  padding: 0px 20px 0 280px;
}

.content-worker {
  padding: 0px 20px 0 300px;
}

.content-worker-order {
  padding: 0 400px 0 0;
}

.clean {
  padding: 0;
}

.hidden {
  display: none;
}

.flex-0-0 {
  flex: 0 0 auto;
}

.flex {
  flex: 1 1 auto;
}

.width_30 {
  width: 32%;
}

.active-link.active {
  color: #3689ce;
  font-weight: 700;
}

.bg_th {
  background: url("/images/icons/up.svg") no-repeat;
  background-position: center;
  cursor: pointer;
}

.bg_th[data-order] {
  transform: rotate(180deg);
}

.bg_th[data-order="1"] {
  transform: rotate(0deg);
}

#chatWrapper {
  scroll-behavior: smooth;
}

#myModal .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}

.styles_none,
.styles_none:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.swal2-close:focus {
  box-shadow: none !important;
  border: none;
  outline: none;
}

html.swal2-shown,
body.swal2-shown {
  overflow-y: auto !important;
}

.flex_percent {
  flex: 1 1 70%;
}

.flex33 {
  flex: 1 1 33%;
}

.flex50 {
  flex: 1 1 50%;
}

.flex_66 {
  flex: 1 1 66%;
}

.title_before::after {
  content: "";
  left: 0;
  top: 40px;
  width: 40px;
  height: 6px;
  @apply bg-blub absolute rounded-xl;
}

.sale_bue {
  background-color: rgb(255, 255, 255, .3);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.grid_con {
  width: 75%;
  margin: 0 auto;
}

.d_flex {
  display: flex;
}

.map {
  width: 100%;
  height: 600px;
}

.input-file {
  position: relative;
  display: inline-block;
}

.input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
  @apply bg-blub rounded-lg;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.td_before::before {
  content: "";
  position: absolute;
  left: 35%;
  top: 45%;
  width: 40px;
  height: 3px;
  @apply bg-gray-400;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
  position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
  right: 8px;
  top: 35%;
  position: absolute;
}

th.sorted[data-order="-1"]::after {
  content: "▼"
}

th.sorted[data-order="1"]::after {
  content: "▲"
}