/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Mulish', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #3689ce #e5e7eb;
}

.font_app {
  font-family: "Mulish", sans-serif;
}

.font {
  font-family: "Montserrat", sans-serif;
}


html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
}

::selection {
  background-color: #3690fd;
  color: #fff;
}

::-moz-selection {
  background-color: #3690fd;
  color: #fff;
}

.content_admin {
  width: 90%;
  margin: 0 auto;
  padding: 0px 20px 0 280px;
}

.content-worker {
  padding: 0px 20px 0 300px;
}

@media (max-width: 1541px) {
  .content-worker {
    padding: 0px 20px 0 250px;
  }
}

@media (max-width: 640px) {
  .content-worker {
    padding: 0 20px;
  }
}

.content-worker-order {
  padding: 0 400px 0 0;
}

@media (max-width: 1540px) {
  .content-worker-order {
    padding: 0 260px 0 0;
  }
}
@media (max-width: 640px) {
  .content-worker-order {
    padding: 0;
  }
}

.clean {
  padding: 0;
}

.hidden {
  display: none;
}

.flex-0-0 {
  flex: 0 0 auto;
}

.flex-1-0 {
  flex: 1 0 auto;
}

.flex-1-1-a {
  flex: 1 1 auto;
}

.width_30 {
  width: 45%;
}

.active-link.active {
  color: #3689ce;
}

.active-link.active li {
  @apply bg-blub text-white;
}

.active-link.active .icons_style {
  @apply text-white;
}

.bg_th {
  background: url("/images/icons/up.svg") no-repeat;
  background-position: center;
  cursor: pointer;
}

.bg_th[data-order] {
  transform: rotate(180deg);
}

.bg_th[data-order="1"] {
  transform: rotate(0deg);
}

#chatWrapper {
  scroll-behavior: smooth;
}

#myModal .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}

.styles_none,
.styles_none:hover,
.styles_none:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.swal2-close:focus {
  box-shadow: none !important;
  border: none;
  outline: none;
}

html.swal2-shown,
body.swal2-shown {
  overflow-y: auto !important;
}

.flex_percent {
  flex: 1 1 70%;
}

.flex33 {
  flex: 1 1 33%;
}

.flex50 {
  flex: 1 1 50%;
}

.flex_66 {
  flex: 1 1 66%;
}

.title_before::after {
  content: "";
  left: 0;
  top: 40px;
  width: 40px;
  height: 6px;
  @apply bg-blub absolute rounded-xl;
}

.sale_bue {
  background-color: rgb(255, 255, 255, 0.3);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.grid_con {
  width: 75%;
  margin: 0 auto;
}

.map {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid transparent;
  width: 95%;
  height: 600px;
}

.input-file {
  position: relative;
  display: inline-block;
}

.input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
  @apply bg-blub rounded-lg;
}

.input-file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.colors {
  background: linear-gradient(-90deg, #f87171 50%, transparent 50%),
    linear-gradient(90deg, #4ade80 50%, transparent 50%);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: none;
}

.select_table {
  margin: 0 15px;
  background: #fff url("/images/icons/select.svg") no-repeat top right;
  background-size: contain;
}

@media (max-width: 425px) {
  .select_table {
    margin: 0;
  }
}

.bg_table {
  background-color: #a7ffb5;
  padding: 3px 5px;
}

.tab-content {
  display: none;
  padding: 20px 0 0 0;
}

@media (max-width: 1541px) {
  .tab-content {
    display: none;
    padding: 0px 0 0 0;
  }
}

.tab-content.active {
  display: block;
}

.title_modal_center::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  background-color: #3689ce;
  width: 40px;
  height: 6px;
  border-radius: 12px;
}

:disabled {
  opacity: 0.5;
}

.disabled {
  background-color: #c9c9c994;
  color: #000;
}

@media (max-width: 640px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    background-color: white;
    @apply sm:shadow-md;
  }

  .header__body {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 20;
  }

  .header__logo {
    flex: 0 0 150px;
    z-index: 10;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
    background-color: #000;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #000;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #000;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: white;
    padding: 80px 10px 20px;
    transition: all 0.3s ease 0s;
    text-align: left;
    overflow: auto;
  }

  .header__menu.active {
    right: 0;
  }
}