<style>
   table {
      width: 100%;
      border-collapse: collapse;
   }

   th,
   td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
   }

   th {
      background-color: lightgray;
   }
</style>

<table id="table">
   <thead>
      <tr>
         <th>
            <select id="name-sort" onchange="sortTable()">
               <option value="0">Name</option>
               <option value="1">Ascending</option>
               <option value="-1">Descending</option>
            </select>
         </th>
         <th>
            <select id="phone-sort" onchange="sortTable()">
               <option value="0">Phone</option>
               <option value="1">Ascending</option>
               <option value="-1">Descending</option>
            </select>
         </th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>1 Doe</td>
         <td>555-555-5555</td>
      </tr>
      <tr>
         <td>Jane Doe</td>
         <td>555-555-5556</td>
      </tr>
      <tr>
         <td>Bob Smith</td>
         <td>555-555-5557</td>
      </tr>
   </tbody>
</table>



<script>
   function sortTable() {
      let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("table");
      switching = true;
      dir = "asc";
      while (switching) {
         switching = false;
         rows = table.rows;
         for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            if (dir == "asc") {
               if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  shouldSwitch = true;
                  break;
               }
            } else if (dir == "desc") {
               if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  shouldSwitch = true;
                  break;
               }
            }
         }
         if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
         } else {
            if (switchcount == 0 && dir == "asc") {
               dir = "desc";
               switching = true;
            }
         }
      }
   }
</script>