<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <title>Admin Kurs-Online</title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
  <div class="app">
    <div class="sidebar left">
      <a href="/"><img class="sidebar-logo" src={Routes.static_path(@conn, "/images/logo-white.svg" )} alt=""></a>
      <ul class="list-sidebar">
        <li><a href="#"><img src={Routes.static_path(@conn, "/images/icons/graffic.svg" )} alt=""><span class="nav-label">Изменить курсы</span></a></li>
        <li><a href="#"><img src={Routes.static_path(@conn, "/images/icons/razmestit.svg" )} alt=""><span class="nav-label">Разместить</span></a></li>
        <li><a href="#"><img src={Routes.static_path(@conn, "/images/icons/book-sell-buy.svg" )} alt=""><span class="nav-label">Купить/Продать</span></a></li>
        <li><a href="#"><img src={Routes.static_path(@conn, "/images/icons/settings.svg" )} alt=""><span class="nav-label">Настройки</span></a></li>
        <li><a href="#"><img src={Routes.static_path(@conn, "/images/icons/tariff.svg" )} alt=""><span class="nav-label">Тарифы</span></a></li>
        <li><a href="/admin/logout"><img src={Routes.static_path(@conn, "/images/icons/logout.svg" )} alt=""><span class="nav-label">Выйти</span></a></li>
      </ul>
    </div>
    <div class="content">
      <%= @inner_content %>
    </div>
  </div>
  </body>
</html>
