<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content={csrf_token_value()}>
  <title>Admin Kurs-Online</title>
  <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/phone_input.js"
    )}></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
</head>

<body>
  <div class="app">
    <div class="admin_app_container">
      <a href="/admin"><img class="mt-10" src={ Routes.static_path(@conn, "/images/logo-white.svg" )} alt=""></a>
      <ul class="w-full pt-6">
        <li class="admin_app_li">
          <a href="/admin/" class="active-link admin_app_href">
            <span class="icons_admin_style material-symbols-outlined"
              style="font-weight: 500; font-size: 28px;">home</span>
            <span class="text-lg">Главная</span>
          </a>
        </li>
        <li class="admin_app_li">
          <a href="/admin/view_organization" class="active-link admin_app_href">
            <span class="icons_admin_style material-symbols-outlined"
              style="font-weight: 500; font-size: 28px;">format_list_bulleted</span>
            <span class="text-lg">Список организаций</span>
          </a>
        </li>
        <li class="admin_app_li">
          <a href="/admin/register_org" class="active-link admin_app_href">
            <span class="icons_admin_style material-symbols-outlined"
              style="font-weight: 500; font-size: 28px;">corporate_fare</span>
            <span class="text-lg">Создание организации</span>
          </a>
        </li>
        <li class="admin_app_li">
          <a href="/admin/currencies" class="active-link admin_app_href">
            <span class="icons_admin_style material-symbols-outlined"
              style="font-weight: 500; font-size: 28px;">payments</span>
            <span class="text-lg">Создание валюты</span>
          </a>
        </li>
        <li class="admin_app_li">
          <a href="/admin/cities" class="active-link admin_app_href">
            <span class="icons_admin_style material-symbols-outlined"
              style="font-weight: 500; font-size: 28px;">apartment</span>
            <span class="text-lg">Создание городов</span>
          </a>
        </li>
        <li class="admin_app_li app_user_li_absolute">
          <a href="/admin/logout" class="active-link admin_app_href">
            <span class="icons_admin_style material-symbols-outlined"
              style="font-weight: 500; font-size: 28px;">logout</span>
            <span class="text-lg">Выйти</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">
      <%= @inner_content %>
    </div>
  </div>
</body>

</html>