<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()}>
    <title>Worker Kurs1</title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="bg-gray-50">
    <div class="font_app">
      <input id="crf_token" class="hidden" value={Phoenix.Controller.get_csrf_token()}>
      <% worker=Plug.Conn.get_session(@conn,:worker) %>
      <div class="app">
        <div class="app_user_container sm:hidden">
          <a href="/worker/course">
            <img class="mx-auto" src={Routes.static_path(@conn, "/images/logo-line.png" ) } alt="">
          </a>
          <div class="menu_break"></div>
          <div class="other_text">
            <%= gettext("Пользователь:") %><br>
            <%= worker[:filial_name] %>(<%= worker[:first_name] %>)
            <div class="menu_break"></div>
            <%= worker[:address] %>
          </div>
          <div class="flex flex-1-1-a flex-col justify-between pt-2">
            <ul class="text-neutral-400">
              <a href="/worker/course" class="active-link">
                <li class="worker_app_li">
                  <span class="icons_style material-symbols-outlined"
                    style="font-weight: 700; font-size: 28px;">trending_up</span>
                  <%= gettext("Изменить курсы") %>
                </li>
              </a>
              <div class="menu_break_li"></div>
              <!-- <a href="/worker/orders" class="active-link" target="_blank">
                <li class="worker_app_li">
                  <span class="icons_style material-symbols-outlined"
                    style="font-weight: 700; font-size: 28px;">edit_square</span>
                  <%= gettext("Ордера") %>
                </li>
              </a> -->
              <a href="/worker/setting" class="active-link">
                <li class="worker_app_li">
                  <span class="icons_style material-symbols-outlined"
                    style="font-weight: 700; font-size: 28px;">settings</span>
                  <%= gettext("Настройки") %>
                </li>
              </a>
              <div class="menu_break_li"></div>
              <a href="/worker/setting/update_pass" class="active-link">
                <li class="worker_app_li">
                  <span class="icons_style material-symbols-outlined"
                    style="font-weight: 700; font-size: 28px;">lock_open</span>
                  <%= gettext("Смена пароля") %>
                </li>
              </a>
              <!-- <a href="/worker/payment" class="active-link">
                <li class="worker_app_li">
                  <span class="icons_style material-symbols-outlined"
                    style="font-weight: 700; font-size: 28px;">payments</span>
                  <%= gettext("Оплата") %>
                </li>
              </a> -->
            </ul>
            <ul class="text-neutral-400">
              <div class="other_text">
                <%= gettext("Пользователей:") %><br>
                <%= gettext("онлайн") %>
                <span class="online_users">
                  <%= KursonliKurs.EtsStorage.UserOnline.get_online_users_current() %>
                </span>, <%= gettext("за сегодня") %>
                <%= KursonliKurs.EtsStorage.UserOnline.get_online_users_current() %>
                <div class="menu_break"></div>
                <%= gettext("Подписка:") %><br>
                <%= if Timex.before?(Timex.now("Asia/Almaty"), worker[:paid_up_to]) do %>
                  <span class="text-green-400">
                    <%= gettext("Активна, до") %>
                    <%= worker[:paid_up_to] %>
                  </span>
                <% else %> <span class="text-red-400">
                    <%= gettext("Подписка не активна") %>
                  </span>
                <% end %>
              </div>
              <div class="menu_break"></div>
              <li class="flex items-center justify-start py-4 2xl:py-0 transition-all rounded-xl">
                <span class="icons_style material-symbols-outlined"
                  style="font-weight: 700; font-size: 28px;">language</span>
                <div class="langs__block">
                  <a class="lang_redirect" data-lang="rus" href="/worker/setting/lang/rus">Рус</a>
                  <a class="lang_redirect" data-lang="kaz" href="/worker/setting/lang/kaz">Қаз</a>
                </div>
              </li>
              <a class="">
                <li class="flex items-center py-4 2xl:pt-2 transition-all rounded-xl logout cursor-pointer">
                  <span class="icons_style material-symbols-outlined"
                    style="font-weight: 700; font-size: 28px;">logout</span>
                  <%= gettext("Выйти") %>
                </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="header hidden sm:block">
          <div class="header__body">
            <a href="/worker/orders" class="header__logo">
              <img class="mx-auto" src={Routes.static_path(@conn, "/images/logo-line.png" ) } alt="">
            </a>
            <div class="header__burger">
              <span></span>
            </div>
            <div class="header__menu">
              <div class="other_text">
                <%= gettext("Пользователь:") %><br>
                <%= worker[:filial_name] %>(<%= worker[:first_name] %>)
                <div class="menu_break"></div>
                <%= worker[:address] %>
                <div class="menu_break"></div>
              </div>
              <div class="flex flex-1-1-a flex-col justify-between">
                <ul class="text-neutral-400">
                  <a href="/worker/course" class="active-link">
                    <li class="worker_app_li">
                      <span class="icons_style material-symbols-outlined"
                        style="font-weight: 700; font-size: 28px;">trending_up</span>
                      <%= gettext("Изменить курсы") %>
                    </li>
                  </a>
                  <div class="menu_break_li"></div>
                  <a href="/worker/setting" class="active-link">
                    <li class="worker_app_li">
                      <span class="icons_style material-symbols-outlined"
                        style="font-weight: 700; font-size: 28px;">settings</span>
                      <%= gettext("Настройки") %>
                    </li>
                  </a>
                  <div class="menu_break_li"></div>
                  <a href="/worker/update_pass" class="active-link">
                    <li class="worker_app_li">
                      <span class="icons_style material-symbols-outlined"
                        style="font-weight: 700; font-size: 28px;">lock_open</span>
                      <%= gettext("Смена пароля") %>
                    </li>
                  </a>
                </ul>
                <ul class="text-neutral-400 bottom-0 left-0 px-3 absolute w-full pt-8">
                  <div class="other_text">
                    <%= gettext("Пользователей:") %><br>
                    <%= gettext("Онлайн") %> <span class="online_users">
                      <%= KursonliKurs.EtsStorage.UserOnline.get_online_users_current() %>
                    </span>, <%= gettext("за сегодня") %>
                    <%= KursonliKurs.EtsStorage.UserOnline.get_online_users_current() %>
                    <div class="menu_break"></div>
                    <%= gettext("Подписка:") %><br>
                    <%= if Timex.before?(Timex.now("Asia/Almaty"), worker[:paid_up_to]) do %>
                      <span class="text-green-400">
                        <%= gettext("Активна, до") %>
                        <%= worker[:paid_up_to] %>
                      </span>
                    <% else %> <span class="text-red-400">Подписка не активна</span>
                    <% end %>
                  </div>
                  <div class="menu_break"></div>
                  <li class="flex items-center justify-start py-4 2xl:py-0 transition-all rounded-xl">
                    <span class="icons_style material-symbols-outlined"
                      style="font-weight: 700; font-size: 28px;">language</span>
                    <div class="langs__block">
                      <a class="lang_redirect" data-lang="rus" href="/worker/lang/rus">Рус</a>
                      <a class="lang_redirect" data-lang="kaz" href="/worker/lang/kaz">Қаз</a>
                    </div>
                  </li>
                  <a class="">
                    <li class="flex items-center py-4 2xl:pt-2 transition-all rounded-xl logout cursor-pointer">
                      <span class="icons_style material-symbols-outlined"
                        style="font-weight: 700; font-size: 28px;">logout</span>
                      <%= gettext("Выйти") %>
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content-worker">
          <%= @inner_content %>
        </div>
      </div>
    </div>
    <script>
      $(".logout").click(() => {
        localStorage.removeItem("worker")
        localStorage.removeItem("modalShown");
        window.location.href = "/worker/logout"
      })

      $(document).ready(function () {
        $('.header__burger').click(function (event) {
          $('.header__burger,.header__menu').toggleClass('active');
          $('body').toggleClass('lock');
        });
      });
    </script>
  </body>
</html>
